@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

.banner-login{
    position: absolute;
    width:575px;
    height: 786px;
    left: 143px;
    top: 129px;
}

.cadastro-area{
    position: absolute;
    width: 575px;
    height: 430px;
    left: 672px;
    top: 406.55px;
    background: #E8E8E8;
    border: 1px solid #E2D9D7;
    box-sizing: border-box;
    border-radius: 16px;
}

.cadastro-area2 {
    margin-top: -65px;
}

.info {
    margin-bottom: 10px;
}

.digt {
    text-align: center;
    color: #9C98A6;
    font-size: 18px;
    font-weight: 600;
    font-family: Poppins;
    font-style: normal;
    margin-top: -20px;
}

.form-email{
    position: absolute;
    width: 476.74px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;  
    margin-top: 60px; 
    left: 50px;
    font-family: Poppins;
    font-style: normal;
}

.form-senha{
    position: absolute;
    width:476.74px;
    font-weight: 600;
    font-size: 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-top: 110px;   
    left: 50px;
}

.info h1{
    position: absolute;
    width: 362px;
    height: 289px;
    font-family: Poppins;
    font-style: normal;
    color: #9C98A6;
    left: 120px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.cadastro-area2 h2{
    position: absolute;
    width: 608px;
    height: 26px;
    top: 300px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #9C98A6;
}

.form-confirma-senha{
    position: absolute;
    width:476.74px;
    font-weight: 600;
    font-size: 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-top: 160px;   
    left: 50px;
}

.form-cpf{
    position: absolute;
    width:476.74px;
    font-weight: 600;
    font-size: 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-top: 110px;   
    left: 50px;
}

.form-celular{
    position: absolute;
    width:476.74px;
    font-weight: 600;
    font-size: 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-top: 160px;   
    left: 50px;
}


.btn{
    position: relative;
    justify-items: center;
    width: 215px;
    height: 46px;
    left: 180px;
    margin-top: 230px;
    background: #00C157;
    font-family: Archivo;
    font-style: normal;
    color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.btn-2{
    position: relative;
    justify-items: center;
    width: 215px;
    height: 46px;
    left: 190px;
    margin-top: 320px;
    background: #FE4347;
    border: none;
    font-family: Archivo;
    font-style: normal;
    color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.voltar {
    background-image: none;
    text-align: center;
    color: #9C98A6;
    font-size: 18px;
    font-weight: 600;
    font-family: Poppins;
    font-style: normal;
    margin-top: 30px;
}

.et{
    position: absolute;
    z-index: 999;
    width: 358.1px;
    height: 315.42px;
    left: 797.11px;
    top: 190px;
}

.edit-inp {
    position: absolute;
    background: transparent;
    border: 7px solid #CFCFCF;
    outline: none;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    background-color: transparent;
}


@media(max-width: 768px) {
    .cadastro-area{
        position: absolute;
        width: 565px;
        height: 561.45px;
        margin-top: -210px;
        left: 0%;
        right: 0%;
        background: #E8E8E8;
        border: 1px solid #E2D9D7;
        box-sizing: border-box;
        border-radius: 16px;
    }
    .et{
        position: absolute;
        z-index: 999;
        width: 358.1px;
        height: 315.42px;
        left: 125px;
        top: 20px;
    }
    .banner-login{
        position: absolute;
        width:575px;
        height: 786px;
        left: 0%;
        right: 0%;
        top: 0px;
    }
    .form-email{
        position: absolute;
        width: 476.74px;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;  
        margin-top: 150px; 
        left: 50px;
        font-family: Poppins;
        font-style: normal;
    }
    
    .form-senha{
        position: absolute;
        width:476.74px;
        font-weight: 600;
        font-size: 18px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        margin-top: 230px;   
        left: 50px;
    }

    .form-confirma-senha{
        position: absolute;
        width:476.74px;
        font-weight: 600;
        font-size: 18px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        margin-top: 230px;   
        left: 50px;
    }

    .btn{
        position: relative;
        justify-items: center;
        width: 215px;
        height: 46px;
        left: 190px;
        margin-top: 290px;
        background: #FE4347;
        font-family: Archivo;
        font-style: normal;
        color: rgb(255, 255, 255);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }
}