* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../assets/images/Background.png) no-repeat ;
    font-family: 'Jost';
    color: #fff;
    overflow-x: hidden;
}

h1 {
    font-weight: 400;
}
