.sr-only{
    display: none;
}

.slide{
    border-bottom: 4px solid #fff;
}

.carousel-inner{
    height: 100%;
    /* background-color: red; */
}

.carousel-item{
    height: 100%;
}
.carousel-item img{
    object-fit: cover;
    height: 100%;
}

  .gallery-box img {
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }


  .gallery-box {
    position: relative;
    margin-bottom: 30px;
  }

  .iconspage{
    display: flex;
    position: absolute;
    left: 6%;
    margin: -27%;
    width: 55% !important;  
  }
  .search{
    position: absolute;
    width: 40px;
    left: 75%;
    margin-top: 6px;
  }
  @media(max-width: 768px) {
    .iconspage {
     display:none;
    }
}