.flex-container {
    display: flex;
    justify-content: center;
} /*aaaaaa*/

.logo-header {
    position: absolute;
    top: -4px;
    z-index: 999;
    width: 172px;
    left: 50px;
}

.logo-header:hover {
    transform: scale(0.9);
    transition: 0.5s;
}

.menu-icon-header:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

.menu-icon-header{
 margin:  3px 17px;
}
.icons-nav {
    margin: 0 35px;
}

.center-content {
    justify-content: center;
}

.border-bottom-white {
    border-bottom: 2px solid white;
}

.main-logo{
    display: flex;
    position: absolute;
    right: 75%;
}

.login-icon-header {
    margin-top: 12px;
}

.contact-icon-header {
    margin-top: -14px;
}

.user-name{
    display: flex;
    margin-top: 33px;
    margin-right: 15px;
}

.user-name h1{
    font-size: 21px;
    margin-left: 10px;
}
.btn-carrinho-header{
    color: #fff;
    font-size: 20px;
    background: rgb(50 154 88);
    margin: 0;
    margin-top: 25px;
    margin-left: 100px;
    border: none;
    padding: 10px;
    cursor: pointer;
    justify-items: end;
    transition: 300ms;
    border-radius: 15px;
}

.exit {
    border: none !important;
    background: none !important;
}
@media(max-width: 768px) {
    .logo-header {
        width: 110px;
    }
}