.flex-container {
    display: flex;
    justify-content: center;
} /*aaaaaa*/

.fixed {
    display: flex;
    position: absolute;
    right: 75%;
}

.icons-nav {
    margin: 0 35px;
}

.border-bottom-white {
    border-bottom: 4px solid white;
}

.main-logo{
    display: flex;
    position: absolute;
    right: 75%;
}