.flex-container02 {
    display: flex;
}

.icons-nav {
    margin: 5px 5px;
}

.border-bottom-white02 {
    border-top: 4px solid rgb(255, 255, 255);
}

.col {
    display: flex;
    align-items: center;
}

.col-6 {
    display: flex;
}

.social-text {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.social-midias {
    display: flex;
    padding: 10px;
}

@media(max-width: 768px) {
    .social-midias {
      display:block;
    }
}
