.flex-container02 {
    display: flex;
}

.icons-nav {
    margin: 0 25px;
}

.border-bottom-white02 {
    border-top: 4px solid rgb(255, 255, 255);
}

.col {
    display: flex;
    align-items: center;
}

.col-6 {
    display: flex;
}

.social-midias {
    display: flex;
}