/* .item{
    display:grid;grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    padding-bottom: 6rem;
}
 */


 .item-con{
     width: 100%;
     height: auto;
     margin-bottom: 50px;
 }

.img-wrap{
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(69, 80, 91, 0.8);
}

.img-wrap img {
    height: 100%;
    width: 100%;
}

.img-wrap::before{
    content: "";
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.img-wrap:hover::before{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.img-wrap:hover .pizza-info{
    opacity: 1;
}

.img-wrap:hover .pizza-info::before{
    top: 15px;
    left: 15px;
}

.img-wrap:hover .pizza-info::after{
    bottom: 15px;
    right: 15px;
}


.pizza-info{
    opacity: 0;
    color: #333;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pizza-info::before{
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #d7dce1;
    border-left: 3px solid #d7dce1;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.pizza-info::after{
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #d7dce1;
    border-right: 3px solid #d7dce1;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.pizza-info h2{
    font-size: 21px;
}

 .imgIcon{
    position:relative;
    transition: all .3s ease-in-out;
    left: -180px;
    margin-top: auto;
    top: -120px;
    width: 253px;
    height: 220px;
    z-index: 1000;
}
button, select {
    text-align: center;
    position: relative;
    margin: 5px;
    margin-top: 5px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    text-transform: none;
    border: hidden;
    border-radius: 10px;
    color:#d7dce1;
    width:100%;
    height: 40px;
    background: #ff5757;
}

.button-categoria{
    margin-top: 80px;
}
